.experience-container{
    width: 906px;
    margin: auto;
    margin-top: 112px;
}
.experiences{
    display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-content: space-between;
    margin-top: 22px;
    height: 236px;
}
.experience{
    margin-right: 33px;
    margin-left: 33px;
    width: 222px;
}
.experience-company{
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}
.experience-name{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    margin-top: 8px;
    margin-bottom: 8px;
}
.experience-time{
    font-family: 'Montserrat-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #999;
}
.experience-title{
    margin-left: 33px;
}