footer{
    width: 840px;
    margin: 64px auto 24px auto;
    display: flex;
    justify-content: space-between;
}
footer ul.footer-links li{
    display: inline;
}

footer ul.footer-links li a{
    text-decoration: none;
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #999;
}
.footer-links{
    width: 377px;
    display: flex;
    justify-content: space-between;
}
.footer-txt{
    font-family: 'Montserrat-Light', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #999;
}