* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: #444;
    text-decoration-color: #444;
}
.App{
    font-family:  'Montserrat-Medium', sans-serif;
    font-size: 16px;
}
h1, h2, h3{
    color: #444;
}

