
@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light/Montserrat-Light.eot'); 
    src: url('fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
         url('fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'), 
         url('fonts/Montserrat-Light/Montserrat-Light.ttf')  format('truetype'), 
         url('fonts/Montserrat-Light/Montserrat-Light.svg') format('svg'); 
  }
  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot'); 
    src: url('fonts/Montserrat-Regular/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Regular/Montserrat-Regular.woff2') format('woff2'),
         url('fonts/Montserrat-Regular/Montserrat-Regular.woff') format('woff'), 
         url('fonts/Montserrat-Regular/Montserrat-Regular.ttf')  format('truetype'), 
         url('fonts/Montserrat-Regular/Montserrat-Regular.svg') format('svg'); 
  }
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium/Montserrat-Medium.eot'); 
    src: url('fonts/Montserrat-Medium/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/Montserrat-Medium/Montserrat-Medium.woff2') format('woff2'),
         url('fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'), 
         url('fonts/Montserrat-Medium/Montserrat-Medium.ttf')  format('truetype'), 
         url('fonts/Montserrat-Medium/Montserrat-Medium.svg') format('svg'); 
  }